# For more information on configuration, see:
#   * Official English Documentation: http://nginx.org/en/docs/
#   * Official Russian Documentation: http://nginx.org/ru/docs/

user nginx;
worker_processes auto;
error_log /var/log/nginx/error.log;
pid /run/nginx.pid;

# Load dynamic modules. See /usr/share/doc/nginx/README.dynamic.
include /usr/share/nginx/modules/*.conf;

events {
    worker_connections 1024;
}

http {
    #index index.php;
    log_format main '$remote_addr - $remote_user [$time_local] "$request" '
    '$status $body_bytes_sent "$http_referer" '
    '"$http_user_agent" "$http_x_forwarded_for"';

    access_log /var/log/nginx/access.log main;

    sendfile on;
    tcp_nopush on;
    tcp_nodelay on;
    keepalive_timeout 65;
    types_hash_max_size 4096;
    client_max_body_size 100m;

    include /etc/nginx/mime.types;
    default_type application/octet-stream;

    # Load modular configuration files from the /etc/nginx/conf.d directory.
    # See http://nginx.org/en/docs/ngx_core_module.html#include
    # for more information.
    include /etc/nginx/conf.d/*.conf;

    server {
        location / {
            return 404;
        }
        location /stub {
            stub_status;
        }
    }

    map $http_upgrade $connection_upgrade {
        default upgrade;
        '' close;
    }

    server {
        server_name registry.faria.xyz;

        location / {
            proxy_pass http://127.0.0.1:2375;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;
        }
    }


    server {
        server_name faria.xyz;

        location / {
            proxy_pass http://127.0.0.1:13080;
            #proxy_redirect off;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;
        }
    }

    server {
        server_name aren.faria.xyz;

        location / {
            proxy_pass http://127.0.0.1:4000;
            #proxy_redirect off;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;
        }
    }

    server {
        server_name accountable.faria.xyz;

        location / {
            proxy_pass http://127.0.0.1:10010; # full internal address
            proxy_http_version 1.1;
            proxy_set_header Host $server_name:$server_port;
            proxy_set_header X-Forwarded-Host $http_host; # necessary for proper absolute redirects and TeamCity CSRF check
            proxy_set_header X-Forwarded-Proto $scheme;
            proxy_set_header X-Forwarded-For $remote_addr;
            proxy_set_header Upgrade $http_upgrade; # WebSocket support
            proxy_set_header Connection $connection_upgrade; # WebSocket support
        }

        location /graphql {
            proxy_pass http://127.0.0.1:4001; # full internal address
            proxy_http_version 1.1;
            proxy_set_header Host $server_name:$server_port;
            proxy_set_header X-Forwarded-Host $http_host; # necessary for proper absolute redirects and TeamCity CSRF check
            proxy_set_header X-Forwarded-Proto $scheme;
            proxy_set_header X-Forwarded-For $remote_addr;
            proxy_set_header Upgrade $http_upgrade; # WebSocket support
            proxy_set_header Connection $connection_upgrade; # WebSocket support
        }
    }

    server {
        server_name minio-api.faria.xyz;
        server_tokens on;
        client_max_body_size 40M;
        listen 80;

        location / {
            proxy_pass http://127.0.0.1:9020;
            proxy_redirect off;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;
        }
    }

    server {
        server_name minio.faria.xyz;
        server_tokens on;
        client_max_body_size 40M;
        listen 80;

        location / {
            proxy_pass http://127.0.0.1:9021;
            proxy_redirect off;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;

            # To support websockets in MinIO versions released after January 2023
            proxy_http_version 1.1;
            proxy_set_header Upgrade $http_upgrade;
            proxy_set_header Connection "upgrade";
        }
    }

    server {
        server_name grafana.faria.xyz;
        server_tokens on;
        client_max_body_size 40M;
        listen 80;

        location / {
            proxy_pass http://127.0.0.1:9092;
            proxy_redirect off;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;
        }
    }

    server {
        server_name book.faria.xyz;
        server_tokens on;
        client_max_body_size 40M;
        listen 80;

        location / {
            proxy_pass http://127.0.0.1:8083;
            proxy_redirect off;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;
        }
    }

    server {
        server_name gist.faria.xyz;
        server_tokens on;
        client_max_body_size 40M;
        listen 80;

        location / {
            proxy_pass http://127.0.0.1:6157;
            proxy_redirect off;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;
        }
    }

    server {
        server_name lifespan.faria.xyz;
        server_tokens on;
        client_max_body_size 40M;
        listen 80;

        location / {
            proxy_pass http://127.0.0.1:4545;
            proxy_redirect off;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;
            proxy_http_version 1.1;
            proxy_set_header Upgrade $http_upgrade;
            proxy_set_header Connection "upgrade";
            proxy_read_timeout 86400;
        }
    }

    server {
        server_name git.faria.xyz;
        server_tokens on;
        client_max_body_size 40M;
        listen 80;

        location / {
            proxy_pass http://127.0.0.1:5678;
            proxy_redirect off;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;
        }
    }

    server {
        server_name wiki.faria.xyz;
        server_tokens on;
        client_max_body_size 40M;
        listen 80;

        location / {
            proxy_pass http://127.0.0.1:5555;
            proxy_redirect off;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;
        }
    }

    server {
        server_name eco.faria.xyz;
        server_tokens on;
        client_max_body_size 40M;
        listen 80;

        location / {
            proxy_pass http://127.0.0.1:3001;
            proxy_redirect off;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;
        }
    }

    server {
        server_name sms.faria.xyz;
        server_tokens on;
        client_max_body_size 40M;

        location / {
            #allow 192.168.1.0/24;
            #deny all;
            proxy_pass http://127.0.0.1:11000;
            proxy_redirect off;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;
        }
    }

    # sentry
    server {
        server_name sentry.faria.xyz;
        server_tokens on;
        client_max_body_size 40M;

        location /.well-known {
            root /var/www/html/;
            autoindex on;
        }

        location / {
            proxy_pass http://127.0.0.1:9000;
            proxy_redirect off;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;
        }
    }


    # portainer
    server {
        listen 80;
        server_name docker.faria.xyz;

        location / {
            proxy_set_header Host $host;
            proxy_pass http://127.0.0.1:9555;
            proxy_redirect off;
        }
    }

    # traders
    server {
        listen 80;
        server_name trader.faria.xyz;

        location / {
            proxy_set_header Host $host;
            proxy_pass http://127.0.0.1:7751;
            proxy_redirect off;
        }

        location /api {
            rewrite /api/(.*) /$1 break;
            proxy_set_header Host $host;
            proxy_pass http://127.0.0.1:7750;
            rewrite ^ /$1?$args;
            proxy_redirect off;
        }
    }

    # the new screentime
    server {
        listen 80;
        server_name youtrack.faria.xyz;

        location / {
            proxy_set_header Host $host;
            proxy_pass http://127.0.0.1:8878;
            proxy_redirect off;
        }

    }

    # movie frontend
    server {
        listen 80;
        server_name movie.faria.xyz;

        location / {
            proxy_set_header Host $host;
            proxy_pass http://127.0.0.1:8001;
            proxy_redirect off;
        }

        location /api {
            proxy_set_header Host $host;
            proxy_pass http://127.0.0.1:8000;
            proxy_redirect off;
        }
    }

    # kanban
    server {
        listen 80;
        server_name kn.faria.xyz;

        location / {
            proxy_set_header Host $host;
            proxy_pass http://127.0.0.1:5454;
            proxy_redirect off;
        }
    }


    server {
        server_name doc.faria.xyz;
        listen 80;

        location / {
            proxy_pass http://127.0.0.1:6545;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        }

        location /socket.io/ {
            proxy_pass http://127.0.0.1:6545;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header Upgrade $http_upgrade;
            proxy_set_header Connection $connection_upgrade;
        }

        # listen [::]:443 ssl http2;
        # listen 443 ssl http2;
        # ssl_certificate fullchain.pem;
        # ssl_certificate_key privkey.pem;
        # include options-ssl-nginx.conf;
        # ssl_dhparam ssl-dhparams.pem;
    }

    upstream jenkins {
        server 127.0.0.1:8080;
    }

    server {
        server_name jenkins.faria.xyz;

        root /var/run/jenkins/war/;

        access_log /var/log/nginx/jenkins.access.log;
        error_log /var/log/nginx/jenkins.error.log;

        location ~ "^/static/[0-9a-fA-F]{8}\/(.*)$" {
            # rewrite all static files into requests to the root
            # E.g /static/12345678/css/something.css will become /css/something.css
            rewrite "^/static/[0-9a-fA-F]{8}\/(.*)" /$1 last;
        }

        location /userContent {
            # have nginx handle all the static requests to userContent folder
            # note : This is the $JENKINS_HOME dir
            root /var/lib/jenkins/;
            if (!-f $request_filename) {
                # this file does not exist, might be a directory or a /**view** url
                rewrite (.*) /$1 last;
                break;
            }
            sendfile on;
        }

        location / {
            sendfile off;
            proxy_pass http://127.0.0.1:8080;
            proxy_redirect off;
            proxy_http_version 1.1;
            # Required for Jenkins websocket agents
            proxy_set_header Upgrade $http_upgrade;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;
            proxy_max_temp_file_size 0;
            #this is the maximum upload size
            client_max_body_size 10m;
            client_body_buffer_size 128k;
            proxy_connect_timeout 90;
            proxy_send_timeout 90;
            proxy_read_timeout 90;
            proxy_buffering off;
            proxy_request_buffering off; # Required for HTTP CLI commands
            proxy_set_header Connection ""; # Clear for keepalive
        }

    }

    # aren's bot thingy :)
    server {
        listen 80;
        server_name saltu.ratlicker.xyz;

        location / {
            proxy_set_header Host $host;
            proxy_pass http://127.0.0.1:8881;
            proxy_redirect off;
        }
    }

    server {
        listen 80;
        server_name docc.faria.xyz;

        location / {
            proxy_set_header Host $host;
            proxy_pass http://127.0.0.1:6758;
            proxy_redirect off;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Scheme $scheme;
            proxy_set_header Upgrade $http_upgrade;
            proxy_set_header Connection "Upgrade";
        }
    }

    server {
        listen 80;
        server_name mcc.faria.xyz;

        location / {
            #This is important for websockets
            proxy_http_version 1.1;
            proxy_redirect off;

            # These are important for websockets.
            # They are required for crafty to function properly.
            proxy_set_header Upgrade $http_upgrade;
            proxy_set_header Connection $http_connection;
            proxy_set_header X-Forwarded-Proto https;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header Host $http_host;
            #End important websocket parts

            proxy_pass https://localhost:8443;

            proxy_buffering off;
            client_max_body_size 0;
            proxy_connect_timeout 3600s;
            proxy_read_timeout 3600s;
            proxy_send_timeout 3600s;
            send_timeout 3600s;
        }
    }

    server {
        listen 80;
        server_name space.faria.xyz;

        location / {
            proxy_set_header Host $host;
            proxy_pass http://127.0.0.1:9095;
            proxy_redirect off;
            proxy_set_header Upgrade $http_upgrade; # WebSocket support
            proxy_set_header Connection $connection_upgrade; # WebSocket support
        }
    }

    server {
        listen 80;
        server_name elk.faria.xyz;

        location / {
            proxy_set_header Host $host;
            proxy_pass http://127.0.0.1:5601;
            proxy_redirect off;
        }
    }

    server {
        listen 80;
        server_name bankgame-api.faria.xyz;

        location / {
            proxy_set_header Host $host;
            proxy_pass http://127.0.0.1:8067;
            proxy_redirect off;
        }
    }

    server {
        listen 80;
        server_name bankgame-api-preview.faria.xyz;

        location / {
            proxy_set_header Host $host;
            proxy_set_header Access-Control-Allow-Origin "https://bankgame.faria.xyz";
            proxy_pass http://127.0.0.1:8068;
            proxy_redirect off;
        }
    }
}
